@import url("/src/assets/styles/font.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-style: none;
  list-style: none;
}

:root {
  --bodyColor: #212a3e;
  --buttonColor: #394867;
  --selectColor: #c5c5c5;
  --mainWhite: #fff;
  --mainBlack: #000000;
}

body {
  font-family: "OpenSans";
  font-size: 16px;
  color: var(--mainWhite);
  background-color: var(--bodyColor);
}

#root {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.quizWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

h1 {
  font-size: 2.5rem;
}

.quizContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 0.25rem;
}

.answerContainer {
  display: flex;
  flex-direction: row;
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  background-color: var(--buttonColor);
  color: var(--mainWhite);
}

button:hover {
  background-color: var(--selectColor);
  color: var(--mainBlack);
}

.bton{
  background-color: rgb(76, 227, 76);
  border-radius: 10%;
  width: 110px; 
  margin: 30px;
  
}

.bton:hover{
  background-color: rgb(64, 107, 64);
  color: #c5c5c5;
  border-radius: 10%;
  width: 110px; 
}
