@import url("/src/assets/styles/font.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-style: none;
  list-style: none;
}

:root {
  --bodyColor: #212a3e;
  --buttonColor: #394867;
  --selectColor: rgb(228, 194, 107);
  --mainWhite: #fff;
  --mainBlack: #000000;
}

body {
  font-family: "OpenSans";
  font-size: 16px;
  color: var(--mainWhite);
  background-color: var(--bodyColor);
}

#root {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.quizWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
}

.quizContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 0.25rem;
  text-align: center;
}

.answerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  background-color: var(--buttonColor);
  color: var(--mainWhite);
}

.answerButton:hover {
  background-color: var(--selectColor);
  color: var(--mainBlack);
}

#resultButton {
  margin: 2rem;
  background-color: darkgoldenrod;
  font-weight: bold;
}

#popupWindow {
  border: solid 1px;
  background-color: white;
}

#resultOverview {
  color: black;
}
